<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- 必须启用沙盒 -->
        <key>com.apple.security.app-sandbox</key>
        <true/>
        <!-- 按需添加其他必要权限（如网络访问，根据 go-proxy-core 功能） -->
        <key>com.apple.security.network.client</key>
        <true/>
        <key>com.apple.security.network.server</key>
        <true/>
        <!-- OpenVPN需要的权限 -->
        <key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
        <array>
            <string>com.v8en.dualvpnManager.helper</string>
        </array>
        <key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
        <array>
            <string>/Library/Preferences/com.v8en.dualvpnManager.plist</string>
            <string>/Library/Logs/</string>
        </array>
    </dict>
</plist>